body {
  font-family: Consolas, monaco, monospace;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
}

::-moz-selection {
  color: white;
}

::selection {
  color: white;
}
